#header-img {
    width: 50%;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    top: 0;
    position: fixed;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo {
    width: 60vw;
  }
  
  .logo img {
    width: 100%;
    height: 100%;
    max-width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  #hero {
    margin-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #hero input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
  }
  
  #hero input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
  }
  
  #main-doc {
    margin-top: 10%;
  }
  
  #title {
    display: block;
    text-align: center;
    font-size: 25px;
  }
  
  #form {
    text-align: center;
  }
  
  nav ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  li {
    list-style: none;
  }
  
  .container {
    justify-content: center;
    text-align: center;
  }
  
  .container input {
    max-width: 275px;
    width: 100%;
  }
  
  .description {
    margin: 5% 30% 5% 30%;
    text-align: left;
  }
  
  #descriptions {
    padding-bottom: 1%;
  }